variable "aws_region" {
  default = "us-east-1"
}

variable "base_bucket_name" {
  default = "projeto-ed-sionek"
}

variable "account" {
  default = {{ accountnumber }}
}

variable "lambda_function_name" {
  default = "ProjetoEDSionekLambda"
}

variable "mainvalue" {
  default = "exercicio-ed-sionek"
}

variable "environment" {
  default = "prd"
}
